{% extends "layout.jinja2" %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Gestionar Personas</h5>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Fecha de Nacimiento</th>
          <th><a href="/person" class="btn btn-success">Nuevo</a></th>
        </tr>
      </thead>
      <tbody>
        {% for person in people %}
        <tr>
          <th scope="row">{{ person.id }}</th>
          <td>{{ person.name }}</td>
          <td>{{ person.last_name }}</td>
          <td>{{ person.birthday }}</td>
          <td>
            <a href="/person?id={{person.id}}" class="btn btn-primary">Editar</a>
            <a href="/delete_person?id={{person.id}}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}
